!!! 5
%html(lang="en")
  %head
    %title= Restaurant
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{id: controller_path.parameterize.dasherize,
        data: {'js-controller' => controller_path.parameterize.dasherize, 'js-action' => action_name.dasherize},
        class: controller_css_class}
  %div.container
    = yield

